<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jordi Martorell Masip">
    <title>Enciclopèdia Front-end</title>
    <link rel="icon" type="image/png" href="./app/img/ico/computer.png">
    <link rel="stylesheet" href="./node_modules/material-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="./style.css">
    <script src="index.js"></script>
</head>
<body ng-app="MainApp" ng-cloack layout="column" ng-controller="LayoutController">
  <a class="sr" href="#main">Salta al contingut principal</a>

  <header>
    <nav layout="column">
      <md-toolbar class="md-accent topHeader" layout="column">
        <div layout="row" layout-align="space-between center" layout-align-gt-sm="center center" layout-padding> 
          <span ng-click="goHome()"><md-icon class="md-icon-button material-icons">home</md-icon></span>
          <h2 ng-click="goHome()" layout="row" layout-align="center center" layout-padding>Enciclopèdia <span lang='en'>Front-end</span></h2>
          <md-button class="md-fab md-primary md-mini" ng-click="toggleMenu('sideNavMenuBurguer')" hide-gt-sm>
            <md-icon class="md-icon-button material-icons">menu</md-icon>
          </md-button>
        </div>
      </md-toolbar>      
      <md-toolbar class="md-primary" layout="row" layout-align="start stretch" hide-xs hide-sm> 
        <ul layout="row" layout-align="space-around center" flex="grow">
          <li ng-repeat="categoria in categoriesList" class="itemMenu" layout="column">
              <md-button id="{{categoria[1].buttonId}}" class="md-primary md-raised" ng-class="{'md-accent':activeCat==categoria[0]}" ng-click="goCategoria(categoria[0], categoria[1])" ng-mouseenter="showCategoria(categoria[1])" ng-mouseleave="hideCategoria(categoria[1], $event)">
                <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                <span>{{categoria[1].desc}}</span>
              </md-button> 
              <md-list id="{{categoria[1].listId}}" class="listMenu" layout="column" ng-show="categoria[1].show" ng-mouseleave="categoria[1].show=false">
                <md-list-item  ng-repeat="item in categoria[1].items" layout="column" layout-align="start stretch">
                  <md-button class="md-primary md-accent" ng-click="goDetall(categoria[0], categoria[1], item.codi)" layout="row" layout-align="start center">
                    <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                    <span>{{item.desc}}</span>
                  </md-button> 
                </md-list-item>
            </md-list>                  
          </li>
        </ul>    
      </md-toolbar>
    </nav>
  </header>  

  <aside>
    <md-sidenav class="md-sidenav-right" md-component-id="sideNavMenuBurguer">
      <div layout="column" layout-align="start stretch" layout-fill>
        <header>
          <md-toolbar class="md-primary" layout="column" layout-align="center center">  
            <h3>Enciclopèdia Front-end</h3>
          </md-toolbar>
          <span layout="row" layout-align="center center" layout-padding><h4>CATEGORIES</h4></span>
        </header>
        <md-content>
          <md-list class="sideMenu">        
            <md-list-item ng-repeat="categoria in categoriesList" class="sideMenu" layout="column" layout-align="start stretch">
              <div layout="row" layout-alig="start center">
                <span layout="row" layout-align="start center">
                  <md-icon class="material-icons" ng-click="showItem=!showItem" ng-show="!showItem">add_circle</md-icon>
                  <md-icon class="material-icons" ng-click="showItem=!showItem" ng-show="showItem">remove_circle</md-icon>
                </span>
                <md-button ng-click="goCategoria(categoria[0], categoria[1])">
                  <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                  <span class="descSideButton">{{categoria[1].desc}}</span>
                </md-button> 
              </div>            
              <md-list layout="column" ng-init="showItem=false" ng-show="showItem">
                <md-list-item  ng-repeat="item in categoria[1].items" layout="column" layout-align="start stretch">
                  <md-button class="md-primary md-accent" ng-click="goDetall(categoria[0], categoria[1], item.codi)" layout="row" layout-align="start center">
                    <span flex="25"></span>
                    <span layout="row" layout-align="start center">
                      <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                      <span class="descSideButton">{{item.desc}}</span>
                    </span>
                  </md-button> 
                </md-list-item>
              </md-list>                  
            </li>
          </md-list>
        </md-content>
      <div>
    </md-sidenav>
  </aside>

  <md-content flex="grow" layout="column" layout-align="start stretch">    
    <main id="main" ui-view="principal" flex="grow" layout="column" layout-align="start center"></main>
  </md-content>

  <footer>
    <md-toolbar class="md-accent footer" layout="column" layout-align="center stretch"> 
      <div class="container" layout-padding><span>&copy; 2020 Jordi Martorell Masip - <abbr title="Universitat Oberta de Catalunya">UOC</abbr></span></div>      
    </md-toolbar>
  </footer>  

</body>
</html>