<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jordi Martorell Masip">
    <title>Enciclopèdia Front-end</title>
    <link rel="icon" type="image/png" href="./app/img/ico/computer.png">
    <link rel="stylesheet" href="./node_modules/material-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="./style.css">
    <script src="index.js"></script>
</head>
<body ng-app="MainApp" ng-cloack layout="column" ng-controller="LayoutController" layout-fill>

  <header>
    <nav layout="column">
      <md-toolbar class="md-accent topHeader" layout="column">
        <div layout="row" layout-align="space-between center" layout-align-gt-sm="center center" layout-padding> 
          <span ui-sref="Portada"><md-icon class="md-icon-button material-icons">home</md-icon></span>
          <h2 ui-sref="Portada" layout="row" layout-align="center center" layout-padding>Enciclopèdia Front-end</h2>
          <md-button class="md-fab md-primary md-mini" hide-gt-sm><md-icon class="md-icon-button material-icons">menu</md-icon></md-button>
        </div>
      </md-toolbar>      
      <md-toolbar class="md-primary" layout="row" layout-align="start stretch" hide-xs hide-sm> 
        <ul layout="row" layout-align="space-around center" flex="grow">
          <li ng-repeat="categoria in categoriesList" class="itemMenu" layout="column">
              <md-button id="{{categoria[1].buttonId}}" class="md-primary md-raised" ng-click="goCategoria(categoria[0])" ng-mouseenter="showMenu(categoria[1])" ng-mouseleave="categoria[1].show=!categoria[1].show">
                <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                <span>{{categoria[1].desc}}</span>
              </md-button> 
              <md-list id="{{categoria[1].listId}}" class="listMenu" layout="column" ng-show="categoria[1].show" ng-mouseleave="categoria[1].show=!categoria[1].show">
                <md-list-item  ng-repeat="item in categoria[1].items" layout="column" layout-align="start stretch">
                  <md-button class="md-primary md-accent" ng-click="goDetall(categoria[0], item.codi)" layout="row" layout-align="start center">
                    <md-icon class="material-icons">{{categoria[1].icon}}</md-icon>
                    <span>{{item.desc}}</span>
                  </md-button> 
                </md-list-item>
            </md-list>                  
          </li>
        </ul>    
      </md-toolbar>
    </nav>
  </header>  

  <main flex="grow" layout="column" layout-align="start center"> 
    <md-content class="container" ui-view="principal" flex="grow" layout="column"></md-content>
  </main>

  <footer>
    <md-toolbar class="md-accent footer" layout="column" layout-align="center stretch"> 
      <div class="container" layout-padding><span>&copy; 2020 Jordi Martorell Masip - <abbr title="Universitat Oberta de Catalunya">UOC</abbr></span></div>      
    </md-toolbar>
  </footer>  

</body>
</html>