<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jordi Martorell Masip">
    <title>Enciclopèdia Front-end</title>
    <link rel="icon" type="image/png" href="./app/res/ico/computer.png">
    <link rel="stylesheet" href="./style.css">
    <script src="index.js"></script>
</head>
<body ng-app="MainApp" ng-cloak layout="column" ng-controller="LayoutController">
  <a class="sr" href="#main">Salta al contingut principal</a>
  <header>
    <nav layout="column">
      <md-toolbar class="md-accent topHeader" layout="column">
        <div layout="row" layout-align="space-between center" layout-align-gt-sm="center center"> 
          <img id="logotip" ng-click="goHome()" ng-src="{{logotip}}" alt="logo enciclopedia"/>
          <h2 ng-click="goHome()" layout="row" layout-align="center center" layout-padding><span>Enciclopèdia <span lang='en'>Front-end</span></span></h2>
          <md-button class="md-fab md-primary md-mini" ng-click="toggleMenu('sideNavMenuBurguer')" hide-gt-sm layout="row" layout-align="center center">
            <md-icon class="md-icon-button material-icons">menu</md-icon>
          </md-button>
        </div>
      </md-toolbar>      
      <md-toolbar class="md-primary" layout="row" layout-align="start stretch" hide-xs hide-sm> 
        <ul layout="row" layout-align="space-around center" flex="grow">
          <li ng-repeat="categoria in categoriesList" class="itemMenu" layout="column">
              <md-button id="{{categoria.valor.buttonId}}" class="md-primary md-raised botonCat" ng-class="{'md-accent':activeCat==categoria.codi}" ng-click="goCategoria(categoria.codi, categoria.valor)" ng-mouseenter="showCategoria(categoria.valor)" ng-mouseleave="hideCategoria(categoria.valor, $event)">
                <md-icon class="material-icons" ng-class="{'iconoCat': categoria.valor.show}">{{categoria.valor.icon}}</md-icon>
                <span ng-bind-html="categoria.valor.desc"></span>
              </md-button> 
              <md-list id="{{categoria.valor.listId}}" class="listMenu" layout="column" ng-show="categoria.valor.show" ng-mouseleave="categoria.valor.show=false">
                <md-list-item ng-repeat="item in categoria.valor.items" layout="column" layout-align="start stretch">
                  <md-button class="md-primary md-accent" ng-click="goDetall(categoria.codi, categoria.valor, item.codi)" layout="row" layout-align="start stretch">
                    <img class="imatgeEnllac" ng-src="{{item.img}}" alt="imatge destacada detall" />
                    <span>{{item.desc}}</span>
                  </md-button> 
                </md-list-item>
            </md-list>                  
          </li>
        </ul>    
      </md-toolbar>
    </nav>
  </header>
  <aside>
    <md-sidenav class="md-sidenav-right " md-component-id="sideNavMenuBurguer">
      <div layout="column" layout-align="start stretch" layout-fill>
        <header layout="column">
          <md-toolbar class="md-primary" layout="column" layout-align="center center">  
            <h3>Enciclopèdia Front-end</h3>
            <md-icon class="material-icons" ng-click="closeSideNav('sideNavMenuBurguer');">clear</md-icon>
          </md-toolbar>
          <span layout="row" layout-align="center center" layout-padding><h4>CATEGORIES</h4></span>
        </header>
        <md-content>
          <md-list class="sideMenu">        
            <md-list-item ng-repeat="categoria in categoriesList" class="sideMenu" layout="column" layout-align="start stretch">
              <div layout="row" layout-alig="start center">
                <span layout="row" layout-align="start center">
                  <md-icon class="material-icons" ng-click="showItem=!showItem" ng-show="!showItem">add_circle</md-icon>
                  <md-icon class="material-icons" ng-click="showItem=!showItem" ng-show="showItem">remove_circle</md-icon>
                </span>
                <md-button ng-click="goCategoria(categoria.codi, categoria.valor)">
                  <md-icon class="material-icons">{{categoria.valor.icon}}</md-icon>
                  <span class="descSideButton" ng-bind-html="categoria.valor.desc"></span>
                </md-button> 
              </div>            
              <md-list class="listSideMenu" layout="column" ng-init="showItem=false" ng-show="showItem">
                <md-list-item  ng-repeat="item in categoria.valor.items" layout="column" layout-align="start stretch">
                  <md-button class="md-primary md-accent" ng-click="goDetall(categoria.codi, categoria.valor, item.codi)" layout="row" layout-align="start center">
                    <span flex="20"></span>
                    <span layout="row" layout-align="start stretch">                      
                      <img class="imatgeEnllac imatgeLateral" ng-src="{{item.img}}" alt="imatge destacada detall" />
                      <span class="descSideButton">{{item.desc}}</span>
                    </span>
                  </md-button> 
                </md-list-item>
              </md-list>                  
            </li>
          </md-list>
        </md-content>
      <div>
    </md-sidenav>
  </aside>
  <main id="main" flex="grow" layout="column" layout-align="start stretch">
    <md-content layout="row" layout-align="center stretch" layout-fill>
      <div class="container" ui-view="principal" autoscroll="true" layout="column" layout-align="start stretch" flex="grow" layout-padding></div>    
    </md-content>
  </main>
  <footer layout="column" layout-align="center stretch">
    <md-toolbar class="md-accent footer" layout="column" layout-align="center stretch"> 
      <div class="container" layout="column" layout-align="start stretch">
        <div layout="row" layout-align="start stretch">
          <div class="fotoContainer">  
            <img id="imatgeJordi" ng-src="{{jordi}}" alt="Fotografia Desenvolupador" title="Angular Developer"/>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" height="0" width="0" viewBox="0 0 50 50"> TODO - vesio mobil 40x40
              <defs>
                  <clipPath id="fotoPath">
                    <polygon points="25 0, 50 7.5, 45 40, 25 50, 5 40, 0 7.5" />
                  </clipPath>
              </defs>
            </svg> -->
          </div> 
          <div layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="space-around end" flex="grow">
            <div flex-order-xs="2">&copy; <time datetime="2020">2020</time> Jordi Martorell Masip - <abbr title="Universitat Oberta de Catalunya">UOC</abbr></div>
            <div flex-order-xs="1" class="titolFooter">Enciclopèdia <span lang='en'>Front-end</span></div>       
          </div>  
        </div>   
      </div>      
    </md-toolbar>
  </footer> 
</body>
</html>