@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i');
/* @import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font: 400 16px/1.6 'Libre Franklin', sans-serif;
    color: rgb(0,0,0);
    overflow-x: hidden;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 1em;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1em;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
}

abbr {
    text-decoration: none;
}

.topHeader {
    background: linear-gradient(to bottom, black, rgb(63,81,181));
}

.topHeader h2, 
.topHeader span,
 aside md-toolbar md-icon,
.sideMenu md-icon {
    cursor: pointer;
}

header ul, footer ul li  {
    list-style-type: none;
    padding: 0;
}

header ul li,
aside md-toolbar {
    position: relative
}

.itemMenu md-icon{
    margin: 0;
}

.itemMenu .md-button > span{
    padding-left: 5px;
}

.listMenu {
    position: absolute;
    top: 42px;
    left: 8px;    
    background-color: #e7e7e7;
}

.listMenu md-list-item{
    padding: 0;
}

.listMenu md-list-item::before, 
.sideMenu md-list-item::before {
    display: none;
}

.sideMenu .md-button {
    font-weight: bold;
}

.sideMenu > md-list-item > div > span {
    padding-right: 15px;
}

.descSideButton {
    padding-left:10px;
    font-size: 0.55rem;
}

aside > md-sidenav {
    position: fixed;
    overflow: hidden;
}

aside md-toolbar md-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header h2,
.sideMenu > md-list md-icon {
    margin: 0;
}

main md-content {
    padding: 10px;
}
.container{
    max-width: 1200px;
}

p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.videoPortada {
    margin-top: 3rem;
}

.videoFluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.videoFluidItem {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videoFluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.sr {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
} 

figure figcaption {
    font-size: 0.6rem;
}

#infoCategoria ul {
    margin: 2rem 0;
    font-weight: bold;
    cursor: pointer;
}

#infoCategoria ul span,
footer ul li {
    color: rgb(63,81,181);
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    background: linear-gradient(to bottom, rgb(63,81,181), black);
    font-size: 0.7rem;
}

footer p {
    font-size: 0.6rem;
    margin: 2rem 0 0 0;
}


@media (max-width: 600px) {

    h1{
        font-size: 1.5rem;
    }

    .topHeader h2{
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    .footer, 
    figure figcaption {
        font-size: 0.5rem;
    }
}

@media (min-width: 600px) and (max-width: 960px) {

    .footer {
        font-size: 0.6rem;
    }
}