@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px/1.6 'Libre Franklin', sans-serif;
    color: rgb(0,0,0);
    overflow-x: hidden;
    word-wrap: break-word;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 1em;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1em;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
}

abbr {
    text-decoration: none;
}

.topHeader {
    background: linear-gradient(to bottom, black, rgb(63,81,181));
}

.topHeader h2, 
.topHeader span,
.sideMenu md-icon {
    cursor: pointer;
}

header ul {
    list-style-type: none;
    padding: 0;
}
header ul li {
    position:relative
}

.itemMenu md-icon{
    margin: 0;
}

.itemMenu .md-button > span{
    padding-left: 5px;
}
.listMenu {
    position: absolute;
    top: 42px;
    left: 8px;    
    background-color: #e0e0e0;
}
.listMenu md-list-item{
    padding: 0;
}

.listMenu md-list-item::before, 
.sideMenu md-list-item::before {
    display: none;
}

.sideMenu .md-button {
    font-weight: bold;
}

.sideMenu > md-list-item > div > span {
    padding-right: 20px;
}

.descSideButton{
    padding-left:10px;
}

aside > md-sidenav {
    overflow: hidden;
}

header h2,
.sideMenu > md-list md-icon {
    margin: 0;
}

main md-content {
    padding: 10px;
}
.container{
    max-width: 1200px;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer {
    background: linear-gradient(to bottom, rgb(63,81,181), black);
    font-size: 0.7rem;
}
