<div>
    <article layout="column" layout-align="start stretch" flex="grow">
        <div layout-padding>
            <h1 layout="row" layout-align="center center" layout-padding>{{dataDetall.header}}</h1>
            <div layout="column" layout-gt-xs="row" layout-align="start stretch">
                <div layout="column" flex-gt-xs="25">
                    <figure>                
                        <img class="logoDetalle" ng-src="{{dataDetall.imgLink}}" alt="{{dataDetall.altImg}}">                        
                        <figcaption ng-bind-html="dataDetall.figCaption" class="captionImages"></figcaption>
                    </figure> 
                </div>             
                <div layout="column" layout-align="start stretch" flex-gt-xs="75">              
                    <p ng-repeat="itemText in dataDetall.paragrafs" ng-bind-html="itemText.htmlText"></p>            
                </div>
            </div>
        </div>
    </article>    
    <footer layout="column">
        <div layout="column" layout-align="start stretch" layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
            <h4>Enllaços a recursos del mateix tipus:</h4>
            <ul layout="row" layout-align="space-around center" flex-gt-sm="auto">
                <li ng-repeat="res in dataDetall.linksRe" ng-click="goDetall(res.codi)">{{res.desc}}</li>
            </ul>
        </div>        
        <p class="fontDetall" ng-bind-html="dataDetall.fontText"></p>
    </footer>
</div>