<div>
    <article layout="column" layout-align="start stretch" flex="grow">        
        <div layout-padding>
            <h1 layout="row" layout-align="center center" layout-padding>{{dataDetall.header}}</h1>
            <div layout="column" layout-gt-xs="row" layout-align="space-between stretch">
                <div layout="column" flex-gt-xs="30">
                    <figure>                
                        <img class="logoDetall" ng-src="{{dataDetall.imgLink}}" alt="{{dataDetall.altImg}}">                        
                        <figcaption ng-bind-html="dataDetall.figCaption" class="captionImages"></figcaption>
                    </figure> 
                </div>             
                <div layout="column" layout-align="start stretch" flex-gt-xs="65">              
                    <p ng-repeat="itemText in dataDetall.paragrafs" ng-bind-html="itemText.htmlText"></p>            
                </div>
            </div>
        </div>
        <div class="recursosGrafics" layout="row" layout-align="space-around stretch" layout-xs="column" layout-align-xs="center stretch">
            <div flex-gt-xs="35" layout="row" layout-align="center center">
                <figure>                
                    <picture>                   
                        <source media="(min-width: 960px)" ng-srcset="{{imageJPGL}}">
                        <source media="(min-width: 600px)" ng-srcset="{{imageJPGM}}"> 
                        <img ng-src="{{imageJPGS}}" alt="cat">                        
                    </picture>                    
                    <figcaption ng-bind-html="dataDetall.figCaptionJPG"></figcaption>
                </figure>               
            </div>
            <div flex-gt-xs="35" layout="row" layout-align="center center">
                <figure>                
                    <picture>                   
                        <source media="(min-width: 960px)" ng-srcset="{{imagePNGL}}">
                        <source media="(min-width: 600px)" ng-srcset="{{imagePNGM}}"> 
                        <img ng-src="{{imagePNGS}}" alt="cat">                        
                    </picture>                    
                    <figcaption ng-bind-html="dataDetall.figCaptionPNG"></figcaption>
                </figure> 
            </div>
        </div>
    </article>    
    <footer layout="column">
        <div layout="column" layout-align="start stretch" layout-gt-sm="row" layout-align-gt-sm="start center" layout-padding>
            <h4>Enllaços a recursos del mateix tipus:</h4>
            <ul layout="row" layout-align="space-around center" flex-gt-sm="auto">
                <li ng-repeat="res in dataDetall.linksRe" flex="auto" ng-click="goDetall(res.codi)">
                    <div layout="row" layout-align="center stretch">
                        <img class="imatgeEnllac" ng-src="{{res.img}}" alt="imatge destacada detall" />
                        <div layout="row" layout-align="center center"></span>{{res.desc}}</span></div>
                    </div>                    
                </li>
            </ul>
        </div>        
        <p class="fontDetall" ng-bind-html="dataDetall.fontText"></p>
    </footer>
</div>