<header>
    <h1 layout="row" layout-align="center center" layout-padding ng-bind-html="dataCategoria.header"></h1>
</header>
<div layout-padding>    
    <article layout="column" layout-align="start stretch" flex="grow">
        <div>
            <section id="infoCategoria" layout="column">
                <p ng-repeat="itemText in dataCategoria.paragrafs" ng-bind-html="itemText.htmlText"></p> 
                <ul layout="row" layout-xs="column">
                    <div class="enllacCategoria" flex-gt-xs="auto" ng-repeat="enllac in dataCategoria.enllacos">
                        <li layout="column" layout-align="center stretch">
                            <div layout="row" layout-align="center stretch" layout-align-xs="start stretch">
                                <div flex-xs="35"></div>
                                <img class="imatgeEnllac" ng-src="{{enllac.img}}" alt="imatge destacada detall" ng-click="goDetall(enllac.codi)"/>
                                <div layout="row" layout-align="start center">
                                    <span ng-click="goDetall(enllac.codi)">{{enllac.desc}}</span>
                                </div>
                            </div>
                        </li>
                    </div>                                                                        
                </ul>       
            </section>
            <section layout="row" layout-align="center center" flex="grow">
                <figure layout="column" flex="65">
                    <div class="videoFluid">
                        <iframe class="videoFluidItem" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="Video sobre les tendències actuals en el desenvolupament web"></iframe >
                        <a class="sr">{{dataCategoria.videoLinkText}}</a>                    
                    </div>
                    <figcaption lang="en" ng-bind-html="dataCategoria.videoFigCaptionText"></figcaption>
                </figure> 
            </section>
        </div>
    </article>
    <footer layout="row" layout-align="start center" layout-padding>
        <p ng-bind-html="dataCategoria.fontText"></p>
    </footer>
</div>